<section class="meetings cf">
    <h2>Add Meeting</h2>
    <form name="myForm" class="formgroup addmeeting cf" ng-submit="addMeeting()" novalidate>
        <div class="inputwrapper">
            <input name="meetingName" placeholder="Meeting Name" ng-required="true" ng-model="meetingName" type="text">
        </div>
        <button type="submit" class="btn" ng-disabled="myForm.$invalid">+
        </button>
    </form>

    <h2>Your Meetings</h2>
    <div class="meeting" ng-repeat="(key,meeting) in meetings">
        <button class="btn btn-delete tooltip" ng-click="deleteMeeting(key)">
            <span>Delete this meeting</span>
        </button>
        <span class="text">{{ meeting.name }}</span>
    </div>
</section>